body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
} 

header{
    color: white;
    text-align: center;
    padding: 10%;
    background-image:
    linear-gradient(to bottom, rgba(222, 224, 235, 0.52), rgba(5, 0, 4, 0.73)),
    url('images/donation0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 250%;
}
.input-field{
    display: flex;
    justify-content: center;
}
.donate-field{
    height: 50px;
    width: 300px;
    margin-top: 30px;
    padding-left: 100px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke; 
}
#border{
    width: 65%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}
a{
    color: aliceblue;
    border-radius: 10px;
    background-color: #FF5959;
    padding: 8px;
    text-decoration: none;
    margin: 10px;
}  
.mid-area{
    text-align: center;
    padding-top: 50px;
}

.taka-box{
    margin: auto;
    padding-top: 30px;
    font-weight: 700;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
#box{
    border: 2px solid #FF5959; 
    background-color: rgb(255, 197, 197);  
}
.tk{
    box-shadow: 2px lightblue;
    padding: 20px;
    background-color:lightgray;
}
.tk:hover{
    border: 2px solid #FF5959;
}
p.amount-box{
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}
span.linkbutton{
    display: flex;
    justify-content: center;
}
.link-button{
    background-image: linear-gradient(red, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5%;
    
    text-decoration: none;
}
section{
    display: flex;
    padding: 40px;
    
}
.donate-plan{
    padding-top: 100px;
    text-align: center;
}
.donate-type{
    padding: 50px 15px;
    
    margin: 8px;
}
#plan-1{
    background-color: rgba(79, 157, 166, 0.1);
}
#plan-2{
    background-color: rgba(255, 89, 89, 0.1) ;
}
#plan-3{
    background-color: #FFF4D6;
}
.form-section{
    padding: 50px 15px;
    text-align: center;
    font-weight: 800;
}
.subscription{
    background-color: rgba(255,89,89,0.5);
    padding: 50px 0px 50px 0px;
    height: 30%;
    width: 60%;
    margin-left: 20%;
}
.button-1{
    height: 40px;
    padding: 5px;
    font-size: 16px;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(250, 11, 111);
    color: aliceblue;
    border: 1px solid whitesmoke;
    cursor: pointer;
  }
.button-2{
    height: 20px;
    width: 300px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
  }
.other-section{
    text-align: center;
}
.box{
    display: flex;
}
.box-content{
    display: block;
    border: 3px solid black;
    width: 25%;
    padding: 20px 10px;
    margin-left: 70px;
}
footer{
    text-align: center;
    color: #FF5959;
    background-color: black;   
}
.footer-content{
    padding: 10px 0px;
}
@media screen and (max-width:450px) {
   section.donate-plan-box{
    display: block;
    justify-content: space-between;
   }
   div.box{
    display: block;
    justify-content: center;
   }

}
